<div class="row justify-content-center" style="margin-top: 2%;text-align: center;">
    <h3 style="margin-bottom: 2%;">Lista de Episódios de Rick and Morty</h3>
    <div class="col-5" *ngIf="episodio">
        <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">{{ episodio.name }}</h5>
                <p class="card-text">Espécie: {{ episodio.air_date }}</p>
                <p class="card-text">Local: {{ episodio.episode }}</p>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
                *ngFor="let episodio of resposta.results, let i = index" (click)="tornaAtivo(i, episodio)"
                [class.active]="i == indice">
                {{ episodio.name }}
            </button>
        </div>
        <div class="row justify-content-center" style="margin-top: 1%;">
            <div class="col-xs-8 col-8">
                <pagination [totalItems]="51" [itemsPerPage]="20" [maxSize]="4" [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div>
        </div>
    </div>
</div>