<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h4 class="navbar-brand">API do Rick and Morty</h4>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/personagens">Personagens</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/locais">Locais</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/episodios">Episódios</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>